
.page-content p,
.about p {
  font-size: 24px !important;  
  font-weight: 400;            
}


.author-highlight {
  font-weight: 700;      /* 黑体 / 加粗 */
  text-decoration: none; /* 去掉下划线 */
}

.selected-papers {
  max-width: 700px !important;   /* 根据你需要调整，比如 900‒1200 都可以 */
  width: 100%;
  margin-left: 0;                 /* 如果你想更靠左 */
  margin-right: auto;
}


.social .contact-icons i,
.social .contact-icons img,
.social i,
.social img {
  font-size: 1.8rem !important;
  height: 1.8rem !important;
  width: auto !important;
  margin: 0 8px !important; 
}


.social .contact-icons svg {
  height: 1.8rem !important;
  width: auto !important;
}
