
.page-content p,
.about p {
  font-size: 24px !important;  
  font-weight: 400;            
}


.social .contact-icons i,
.social .contact-icons img,
.social i,
.social img {
  font-size: 1.8rem !important;
  height: 1.8rem !important;
  width: auto !important;
  margin: 0 8px !important; 
}


.social .contact-icons svg {
  height: 1.8rem !important;
  width: auto !important;
}
