---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.author-highlight {
  font-weight: 700;      /* 黑体 / 加粗 */
  text-decoration: none; /* 去掉下划线 */
}

.selected-papers {
  max-width: 700px !important;   /* 根据你需要调整，比如 900‒1200 都可以 */
  width: 100%;
  margin-left: 0;                 /* 如果你想更靠左 */
  margin-right: auto;
}
